table {
  width: 100%;
}
.m-search-module {
  padding: 1rem 0;
}
.example-container {
  display: flex;
  flex-direction: row;
}

.example-container > * {
  width: 100%;
}
.example-container {
  div {
    width: 5rem;
    // margin:0 1rem;
  }
}
