.a-top {
  display: flex;
  justify-content: space-between;
  button {
    margin-left: 20px;
  }
}
.example-form div {
  display: flex;
}
.a-mat-form-field {
  margin-right: 20px;
}
.a-add-box {
}
.primary {
  margin-bottom: 20px;
}

.a-add-btn {
  line-height: 64px;
}
mat-form-field {
  width: 160px;
}
