/* 变量部分 */

// font-weight
$font-weight-700: 700;

//margin top bottom left right
$pixel-10: 10px;
$pixel-20: 20px;
$pixel-30: 30px;
$pixel-50: 50px;
$pixel-80: 80px;


//color
$primary: var(--primary-900);
$white: var(--surface-base);
$color-666: #666;
$white: #fff;
